.signup-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.left-panel {
  flex: 1;
  background: url("/bg-ibm.png") no-repeat center/cover;
  color: white;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 100%;
}

.right-panel {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  width: 100%;
  padding: 2rem;
}

.signup-box {
  background: white;
  padding: 2.5rem;
  width: 100%;
  max-width: 400px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-title {
    text-align: center;
    margin-bottom: 1.5rem;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.login-link {
  text-align: center;
  margin-top: 1rem;
}

.login-link a {
  color: #0f62fe;
  text-decoration: none;
  font-weight: bold;
}

.login-link a:hover {
  text-decoration: underline;
}
